<div class="w-full min-h-[100vh] pt-24">
  <div class="reset-password-container">
    <h2 class="reset-password-header">Forgot your password?</h2>

    <div class="w-3/4 mx-auto">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="reset-password-field">
          <%= f.label :email, class: "reset-password-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "reset-password-input" %>
        </div>

        <div class="reset-password-actions">
          <%= f.submit "Send me reset password instructions", class: "reset-password-button" %>
        </div>
      <% end %>

      <div class="reset-password-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
