<div class="header">
  <% if !current_admin %>
    <%= link_to products_path do %>
      <h1 class="page-name">CODE-MARKET</h1>
    <% end %>
  <% else %>
    <%= link_to admin_path do %>
      <h1 class="page-name">CODE-MARKET</h1>
    <% end %>
  <% end %>
<% if !current_admin %>
  <div class="link-container">
    <%= link_to 'Favoritos', '/favorites' %>
  </div>


  <%= link_to cart_path do %>
    <div class="link-container-cart">
      <%= image_tag("carrito-de-compras.png") %>
      <% if @current_cart && @current_cart.cart_items.any? %>
        <span class="span_carrito">
          <%= @current_cart.cart_items.count %>
        </span>
      <% end %>
    </div>
  <% end %>
  <div class="link-container">
    <% if !current_admin %>
      <% if current_purchaser %>
        <%= link_to 'Cerrar Sesion', destroy_purchaser_session_path, data: {turbo_method: :delete} %>
      <% else %>
        <%= link_to 'Iniciar Sesion', login_selection_path %>
        <%= link_to 'Registro', new_purchaser_registration_path %>
      <% end %>
    <%else%>
    <%= link_to 'Cerrar Sesion', destroy_admin_session_path, data: {turbo_method: :delete} %>
    <%end%>
  </div>
<% end %>

</div>
