<%= link_to products_path do %>
    <h1>NombrePagina</h1>
<% end %>

<%= link_to 'Favoritos'%>
<%= link_to 'Carrito'%>
<%= link_to 'Iniciar Sesion', '/login' %>
<%= link_to 'Agregar Producto', new_product_path %>
