<div class="link-container">
  <% if !current_admin %>
    <%= link_to 'Volver', :products, class: 'add-product-cart' %>
  <% else %>
      <%= link_to 'Volver', :admin, class: 'add-product-cart' %>
  <% end %>
</div>
<div class="product_detail_container">
  <div class="product_detail_img_container">
    <img src="<%= @product.imagen %>" alt="<%= @product.descripcion %>" width="250" height="250">
  </div>
  <div class="product_detail_info">
    <h2> <%=@product.nombre %> </h2>
    <h4 class="product_price"> Precio:<span class="product_price_span"> $<%= @product.precio %> </span></h2>
    <p><strong>Descripción:</strong> <%= @product.descripcion %></p>
    <% if current_admin %> 
      <p><%= link_to 'Editar Producto', edit_product_path(@product.id), class: 'abm-product' %></p>
      <p><%= link_to 'Eliminar Producto', product_path(@product.id), class: 'abm-product', data: { turbo_method: :delete, turbo_confirm: '¿Está seguro que desea eliminar este producto?' } %></p>
    <% end %>
  </div>
</div>
<% if !current_admin %> 
  <div class="product_detail_footer">
      <div class="link-container">
          <% if current_purchaser&.favorites&.exists?(product: @product) %>
            <%= link_to 'Eliminar de Favoritos', favorite_path(current_purchaser.favorites.find_by(product: @product)), data: { turbo_method: :delete }, class: 'add-favorites'%>
          <% else %>
            <%= link_to 'Añadir a Favoritos', favorites_path(favorite: { product_id: @product.id }), data: { turbo_method: :post }, class: 'add-favorites'%>
          <% end %>
      </div>
      <div class="link-container">
        <%= render "add_to_cart", product: @product %>
      </div>
  </div>
<% end %>

