<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'registro', media: 'all' %>
  <title>Página de Registro</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <h1>PÁGINA DE REGISTRO</h1>
  <%= yield %>
</body>
</html>
